/* Général */

html {
    font-family: 'Cousine', monospace;
    
}

body {
    width: 100%;
    font-size: 1em;
    background-color: whitesmoke ;
    margin: 0;
}   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align: left;
}

h1 {
    font-size: 2em;
}

/* Spécifique */

header {
    background-color: #B9CDD2;
    width: 100%;
    height: 20em;
    color: snow;
}

.logo {
    width: 3em;
    filter: snow;
}

footer {
    background-color: silver;
    height: 15em;
}

.page {
    width: 75%;
    margin: 0 auto;

}

.container {
    display : flex;
    flex-direction: column;
    justify-content: center;
    
}

/* Feed */

.container-picto {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.picto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-picto {
    margin-bottom: 1rem ;
    border: none;
    background-color: transparent;
}
.post {
    border : 1px solid black ;
    background-color: white;
    justify-content : space-evenly;
    margin-top : 1rem;
    margin-bottom : 1rem;
    padding: 1rem;
    text-align: justify;
    height: auto;
}

/* Carrousel */

.img-carousel {
    display : flex;
    justify-content: center;
}

.carousel {
    z-index: -2;
}

/* Menu dropdown */

.dropdown {
    position : sticky;
    top : 0;
}

.dropbtn {
    background-color: silver;
    color: white;
    padding: 0.5em;
    font-size: 2em;
    border: none;
    cursor: pointer;
    font-family: Playfair Display, serif;
    width: 100%;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: silver;
    min-width: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Playfair Display, serif;
}    

.dropdown-content a {
        color: white;
        padding: 1rem;
        display: block;
        text-decoration: none;
} 

.dropdown-content a:hover {
    background-color: #ddd;

}  
.show {
    display:block;
}
    
/* Formulaire */

.form {
    
    display: flex;
    justify-content: space-between;
}

.form > input {
    height: 2rem;
}

.form button {
    margin-top: 2rem;
    height: 2rem;
    font-family: Playfair Display, serif;
    font-size: 1rem;
    background-color: #B9CDD2;
}

.form label {
    margin-top: 1rem;
}

/* Galerie */

.line{
    display : flex;
    flex-direction: column;
}

.colonne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colonne img {
    width: 35%;
    height: auto;
}

.img-gallery {
    margin: 1rem;
}

.pictureForm {
    margin-bottom: 2rem;
}

/*Classe dédiée au test des selecteurs js */
.jsselected {
    border : 5px solid red;
}


